@font-face {
  font-family: dropcase;
  src: url(/fonts/GenzschInitials.ttf);
}

@font-face {
    font-family: "telisar-manuscript";
    src: url(/fonts/Junicode.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "telisar-manuscript";
    src: url(/fonts/Junicode-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "telisar-manuscript";
    src: url(/fonts/Junicode-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "telisar-thieves-cant";
    src: url(/fonts/thieves-cant.ttf);
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #efe1be;
  color: #333;
  font-family: telisar-manuscript, serif;
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 100%;
  overflow-x: hidden;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-image: url("background.png");
  background-repeat: repeat-x repeat-y;
  opacity: 0.2;
}

#container {
    position: relative;
    z-index: 100;
}

footer {
    margin: 0 auto;
}

a, a:visited {
  color: #883333;
  text-decoration: none;
}
a:hover {
  color: #AA5555;
}


h1, h2, h3, h4, h5, h6 {
    font-family: telisar-manuscript, serif;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1;
    color: #883333;
}

header {
    width: 100%;
    background-color: #883333;
    padding-left: 20px;
}

header .content {
    color: #d4af37;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.7em;
    font-style: italic;
}

header h1 {
    margin: 0;
    font-size: 3.0em;
}

header h1 a, header h1 a:visited {
  color: #d4af37;
  letter-spacing: 0.1em;
}

nav {
  display: block;
  width: 100%;
  background-color: #FFF;
  padding-right: 20px;
}
nav ul {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
nav ul li {
    padding: 2px;
    margin-left: 1em;
    font-size: 0.8em;
}

nav ul li, #tags li,
.post-nav ul li,
ul.pagination li,
section#list time,
section#list .count,
th {
    padding-right: 0.5em;
    text-transform: uppercase;
    font-size: 0.65em;
    font-family: Roboto,Helvetica,sans-serif;
    font-weight: bold;
}

nav ul li a, nav ul li a:visited {
    color: #333;
    font-weight: normal;
}

#tags li a,
#tags li a:visited,
section#list time,
section#list .count {
    color: #999;
}
nav ul li a:hover, #tags li a:hover {
    color: #883333;
}

footer ul {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

footer ul li {
    padding: 2px;
    margin: 1em;
    font-size: 0.7em;
}

.post-nav ul, ul.pagination {
  width: 1200px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #f7e5ab 100%);  
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0
}

.post-nav ul li, ul.pagination li {
    padding:10px;
}

section#home {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

section#home .about {
    max-width: 850px;
    flex: 0 0 calc(100%; - 40px);
    margin: 20px auto;
    padding: 0px 20px;
}

section#home .recent {
    margin: 0px;
    text-align: justify;
    line-height: 1.2;
    color: #777;
}

section#home .recent:first-of-type {
    margin: 0px 20px 0px 20px;
}

section#home .recent:last-of-type {
    margin: 0px 20px 0px 20px;
}

section#home .recent h3 {
    text-transform: capitalize;
    margin: 0;
}
section#home .recent h2 {
    text-transform: capitalize;
    color: #000;
}

section#home .recent p {
    margin-bottom: 1em;
}
section#home .recent span.campaigndate {
    color: #000;
    font-size: 0.65em;
    font-style: italic;
}

section#list ul {
    list-style-type: none;
}
section#list ul li {
    margin-top: 0.5em;
    border-bottom: 1px dotted #AAA;
}
section#list time,
section#list .count {
    float: right;
}

article, section {
    width: 100%;
}

.title {
    padding: 10px 20px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, #f7e5ab 100%);  
    flex: 0 0 calc(100% - 40px);
    order: 1;
}
.content {
    max-width: 800px;
    padding: 0px 20px 0px 20px;
    order: 2;
}

.statblock {
    order: 4;
}

.content img {
    max-width: 100%;
}

.content.wide {
    flex: 0 0 calc(100%  - 40px);
}

article .content,
section.content {
    line-height: 1.2;
    font-size: 1.1em;
}

.sidebar {
    max-width: 350px;
    padding-left: 10px;
    flex: 0 0 100%;
    order: 3;
}

.sidebar .gallery {
    display: inline-block;
    width: calc(100% - 40px);
    clear: both;
    margin: 20px auto;
}

.sidebar .gallery img {
    max-width: 100%;
    float: left;
}


main {
    max-width: 1200px;
    margin: 2rem auto 0 auto;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.15);
    background: #FFF;
}

article h1 {
    color: #AA5555;
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: -10px;
}

#tags {
    padding: 0;
    list-style: none;
    color: #999;
}


.description {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    padding: 12px;
    font-style: italic;
    line-height: 1.2;
}

main section#home .about::first-letter,
main article div.dropcase > p:first-child::first-letter,
main article div.text::first-letter {
    font-family: dropcase;
    font-size: 4.5em;
    margin: 0.1em;
    margin-left: 0;
    float: left;
    color: #d4af37;
    padding: 16px 4px 0px 4px;
    line-height: 0.9;
    background: #883333;
}

blockquote, dl.cant {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 3rem;
    max-width: 80%;
}


.keep-together {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.statblock {
    margin: 20px auto;
    padding: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 40%, #f7e5ab 100%);  
    border: 1px solid #AAA;
}

.statblock .separator {
    content: "";
    display:block;
    width: 100%;
    margin: 10px 0px;
    border-top: 3px solid #883333;
}

/* Stat block typography */

.statblock {
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 0.75em;
}

.statblock h2, h3, h4, h5, h6 {
    padding-bottom: 5px;
    border-bottom: 1px solid #883333;
    text-transform: capitalize;
}


.statblock .homebrew-name {
    font-family: telisar-manuscript, serif;
    font-weight: 700;
    font-size: 2em;
    font-variant: small-caps;
    margin: 0;
    margin-top: -10px;
    color: #883333;
}

.statblock .homebrew-name:hover {
    color: #AA5555;
}

.statblock .homebrew-size {
    font-family: telisar-manuscript, serif;
    font-style: italic;
    margin-top: -3px;
    padding-left:2px;
}

.statblock .stat {
    font-size:0.9em;
    color: #883333;
    font-weight: bold;
}
.statblock .stat .value {
    color: #333;
    font-weight:normal;
    padding-left: 3px;
}

.statblock .ability-scores ul {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  color: #883333;
  font-weight: bold;
}
.statblock .ability-scores ul li {
    width: calc(100% / 6);
    font-size: 0.8em;
    text-align: center;
}

.statblock .ability-scores ul.score li small {
    font-weight: normal;
    color: #333;
}

.statblock p {
    font-family: Roboto,Helvetica,sans-serif !important;
    text-align: justify;
}

.statblock p strong::after {
    content: '.';
    display: inline;
}

.statblock p em {
    padding-right: 5px;
}

.statblock p em::after {
    content: ':';
    display:inline;
}

/*thieves cant*/

dl.cant dt .text {
  padding-left: 10px;
  padding-right: 10px;
}

dl.cant dt {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

dl.cant dd div {
    padding: 5px;
}

dl.cant:hover dd div {
    cursor: pointer;
    background-color: rgba(255,255,240);
}

dl.cant dd {
    font-style: normal;
    margin-left: 0px;
    margin-top:  -5px;
    padding: 0px;
}

.cant dd div p {
    font-family: inherit !important;
}

.thieves-cant {
    text-align: justify;
    font-family: telisar-thieves-cant !important;
}



table {
    width: 100%;
}
table tr:nth-child(even) {
    background-color: rgba(255,255,240);
}
th {
    text-align: left;
    border-bottom: 1px dotted #AAA;
}
td {
    font-size: 0.8em;
    padding: 2px;
    margin-right: 10px;
}
tr td:last-child {
    width: 100%;
    margin-right: 0;
}


.gallery.runes img {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 0 3px #333;
    background: rgb(246,248,249);
    background: linear-gradient(135deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 64px;
    height: 64px;
    margin: 3px;
}

@media (min-width: 1024px) {
    .statblock {
        column-count: 2;
    }
    .sidebar {
        max-width: 350px;
        padding-left: 10px;
        flex: 0 0 100%;
    }
    .content {
        flex: 0 0 calc(100% - 400px);
    }
    article, section {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }
    section#home .recent {
        flex: 0 0 calc(50% - 50px);
    }
}

.sidebar {
    order: 3;
}

