@font-face {
  font-family: dropcase;
  src: url(/fonts/GenzschInitials.ttf);
}

@font-face {
    font-family: "telisar-manuscript";
    src: url(/fonts/Junicode.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "telisar-manuscript";
    src: url(/fonts/Junicode-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "telisar-manuscript";
    src: url(/fonts/Junicode-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "telisar-thieves-cant";
    src: url(/fonts/thieves-cant.ttf);
    font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: rgb(241,241,212);

  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  color: #333;
  font-family: telisar-manuscript, serif;
  font-size: 17px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

h1 {
    font-family: telisar-manuscript, serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    margin: 0;
}
h2 {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0;
}


#container {
  margin: 20px auto;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container > * {
  width: 800px;
  margin: 0px auto;
}

#container.wide  {
  width: 100%;
  margin: 20px auto;
}


@media only screen and (max-width: 800px) {
  #container > * {
    width: auto;
    margin: 0 1.2em;
  }
}

#container header {
  margin-top: 1em;
  }

#container.wide header {
  text-align: left;
  width: 100%;
  max-width:700px;
}

#container header p {
  color: #000;
  font-size: 0.7em;
}

#container header h1 a {
  color: #000;
  letter-spacing: 0.1em;
}

#container header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

#container header ul li {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: none;
  }
  #container header ul li {
    margin: 0 1em 0 0;
  }
}

#container nav {
  margin-bottom: 1em;
  padding: 0.5em 0;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

#container.wide nav {
  margin: 0px auto;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#container nav ul li {
  margin-left: 1em;
}

#container nav ul li a.active {
  border-bottom: 1px solid #666666;
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

#container.wide main {
    width: 95%;
    margin: 1em auto;
}


#container main article li {
    list-style:none;
}

#container main section#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#home ul li {
  margin: 0;
  padding-bottom: 0;
}

#container main section#home ul li.older {
  margin-top: 2em;
  border-bottom: 1px solid #AAA;

}

#container main section#home ul li.list h4 {
    display: inline-block;
    margin: 0;
}

#container main section#home ul li.list h4 .tag {
    font-size: 0.6em;
}

a.tag, a.tag:visited {
    background: #883333;
    color: #FFF;
    padding: 2px 2px;
    margin-left: 3px;
    font-weight: bold;
    text-transform: uppercase;
}


#container main secton#home ul li h1 {
  color: #AA5555;
}

#container main section#home ul li h2 {
  margin: 0.2em 0;
}

#container main section#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#list ul li {
  padding: 0;
}

#container main section#list ul li time, #container main section#list ul li span.count {
  float: right;
}

time.campaign-date {
    color: #888;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
}

#container main section#list ul li:last-child {
  border-bottom: 0;
}

#container main section.post-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

#container main article {
    font-size: 1.2em;
}

#container main article p {
    font-family: telisar-manuscript, serif;
}

#container main article pre {
  background-color: #ffffcc;
  overflow-x: auto;
  padding: 0.8em;
  font-size: 0.9em;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main article pre code {
  font-size: 0.9em;
}

#container main article p code {
  padding: 0.2em;
  background-color: #ffcccc;
  font-size: 0.9em;
}

#container main article p kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 1em;
  color: #555555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #cccccc #bbbbbb;
  border-image: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main article div.description {
    font-style: italic;
    margin-top: 10px;
}

#container main article div.dropcase p:first-of-type:first-letter {
    font-family: dropcase;
    font-size: 4.5em;
    margin-top: 0.15em;
    margin-right:0.1em;
    line-height: 0.8em;
    float: left;
}

#container main article div.dropcase figcaption p:first-of-type:first-letter {
    font-size: 2.5em;
    margin-right:0.2em;
}

h1, h2, h3, h4, h5, h6 {
  color: #883333;
}

#container main h1 {
  font-size: 36px;
  margin-bottom: 0;
}

#container footer {
  border-top: solid 1px #AAA;
  max-width:700px;
}

#container footer h6 {
  font-size: 0.8em;
}

.meta-aside, #container main section#home ul li aside, #container main article aside {
  margin: 0;
  font-size: 0.8em;
}

.meta-aside ul, #container main section#home ul li aside ul, #container main article aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.meta-aside ul li, #container main section#home ul li aside ul li, #container main article aside ul li {
  margin-left:-0.5em;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
  display:inline-block;
}

a, a:visited {
  color: #883333;
  text-decoration: none;
}
a:hover {
  color: #AA5555;
}

.image, figure img, img {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

.full-image, figure.full img, img[src*="full"] {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  .full-image, figure.full img, img[src*="full"] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image, figure.mid img, img[src*="mid"] {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  .mid-image, figure.mid img, img[src*="mid"] {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }
  @media only screen and (max-width: 800px) {
    .mid-image, figure.mid img, img[src*="mid"] {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.float-image, figure.float img, img[src*="float"] {
  width: 300px;
  float: left;
  margin: 0 1em 1em -3em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image, figure.float img, img[src*="float"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.float-image-right, figure.float-right img, img[src*="float-right"] {
  width: 300px;
  float: right;
  margin: 0 -3em 1em 1em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image-right, figure.float-right img, img[src*="float-right"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

figure {
  margin: 0;
}

figure figcaption p {
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
}

figure.full {
  margin: 0;
}

figure.mid {
  margin: 0;
}

figure.float {
  margin: 0;
  float: left;
}

figure.float-right {
  margin: 0;
  float: right;
}

figure.float-right figcaption {
  margin-left: 1em;
}

table {
  width: 100%;
  border-bottom: solid 1px #cecece;
}

table thead {
  background-color: #cecece;
}

table th, td {
  text-align: left;
  white-space: nowrap;
  padding-right: 5px;
}

table tr:nth-child(even) {background-color: #efefc6;}

.table-wrapping {
    font-size:0.8em;
}

.table-wrapping td {
    vertical-align: top;
    white-space: normal;
}
.table-wrapping td:last-child {
    min-width:15%;
}

blockquote {
  margin: 1em;
  border-left: solid 0.1em #cecece;
  padding: 0.5em 2em;
  position: relative;
  background-color: #efefef;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

blockquote::before {
  content: "\f10d";
  font-size: 3em;
  font-family: "FontAwesome";
  color: rgba(192, 192, 192, 0.3);
  position: absolute;
  left: 6px;
  top: 0;
}

@media only screen and (max-width: 800px) {
  blockquote {
    margin: 1em 0;
    padding: 0.5em;
  }
}

ol {
   list-style: disc outside none;
   counter-reset: item;
   margin-left: 0;
   padding-left: 1em;
}
ol li {
   counter-increment: item;
   margin-bottom: 5px;
   padding-left: 1em;
}

ol li:before {
   line-height: 1.2em;
   margin-left: -2em;
   margin-right: 0.9em;
   content: counter(item);
   background: #883333;
   border-radius: 50%;
   color: white;
   width: 1.2em;
   text-align: center;
   display: inline-block;
 }


dl dd {
  font-style: italic;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 1em;
}

/*spoiler*/

dl.spoiler dt .block {
    color: #883333;
}

dl.spoiler dt .text {
  background-color: #F1F1D4;
  padding-left: 10px;
  padding-right: 10px;
}

dl.spoiler dt {
    color: #883333;
    display:block;
    text-align: left;
}

dl.spoiler dd div {
    padding: 5px;
    border: 1px solid #883333;
}

dl.spoiler:hover dd div {
    cursor: pointer;
    border: 1px solid #883333;
}

dl.spoiler dd {
    font-style: normal;
    margin-left: 0px;
    margin-top:  -5px;
    padding: 0px;
}

/*thieves cant*/

dl.cant dt .block {
    color: #883333;
}

dl.cant dt .text {
  background-color: #F1F1D4;
  padding-left: 10px;
  padding-right: 10px;
}

dl.cant dt {
    color: #883333;
    text-align: left;
}

dl.cant dd div {
}

dl.cant:hover dd div {
    cursor: pointer;
}

dl.cant dd {
    font-style: normal;
    margin-left: 0px;
    margin-top:  -5px;
    padding: 0px;
}

.cant dd div p {
    font-family: inherit !important;
}

.thieves-cant {
    font-family: telisar-thieves-cant !important;
}


/* Monster Stat Block */

@media print, (min-width: 768px);
.monster-stat-block {
    -webkit-column-count: 2;
    column-count: 2;
}

.homebrew-stat-block {
    display:block;
    clear:both;

    background: rgb(241,241,212);
    background: linear-gradient(135deg, rgba(241,241,212,1) 4%, rgba(215,203,151,1) 100%);

    position: relative;
    box-shadow: 0 0 8px #979AA4;
    border: 1px solid #999;
    padding: 15px;
    margin: 50px 0;
}

.homebrew-stat-block .separator {
    content: "";
    display:block;
    width: 100%;
    margin: 10px 0px;
    border-top: 3px solid #883333;
}

/* Stat block typography */

.homebrew-stat-block {
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 0.65em;
}

.homebrew-stat-block h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #883333;
}

.homebrew-stat-block .homebrew-name {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 2em;
    font-variant: small-caps;
    letter-spacing: -1px;
    margin: 0;
    margin-top: -10px;
    color: #883333;
}

.homebrew-stat-block .homebrew-size {
    font-family: telisar-manuscript, serif;
    font-style: italic;
    margin-top: -3px;
    padding-left:2px;
}

.homebrew-stat-block .stat {
    font-size:0.9em;
    color: #883333;
    font-weight: bold;
}
.homebrew-stat-block .stat .value {
    color: #333;
    font-weight:normal;
    padding-left: 3px;
}

.homebrew-stat-block table {
    border-bottom: none;
    margin: 0;
}
.homebrew-stat-block table th {
    font-size:0.8em;
    color: #883333;
    font-weight: bold;
    text-align:center;
}

.homebrew-stat-block table tbody tr td {
    font-size: 1.1em;
    font-weight: bold;
    color: #883333;
    text-align:center;
}
.homebrew-stat-block td small {
    font-size: 0.8em;
    display:block;
    font-weight: normal;
    color: #333;
}
.homebrew-stat-block table tr:nth-child(even) {background-color: transparent; }

.homebrew-stat-block p {
    font-family: Roboto,Helvetica,sans-serif !important;
    text-align: justify;
}

.homebrew-stat-block p strong::after {
    content: '.';
    display: inline;
}

.homebrew-stat-block p em {
    padding-right: 5px;
}

.homebrew-stat-block p em::after {
    content: ':';
    display:inline;
}


#container main article div.dropcase .homebrew-stat-block p:first-of-type:first-letter {
    font-family: inherit;
    font-size: inherit;
    margin: inherit;
    line-height: inherit;
    float: inherit;
}

.runes {
  display: block;
  margin-top: 10px;
  padding: 0px;
  font-family: Roboto,Helvetica,sans-serif;
}

.runes ul {
  display: block;
  list-style-type: none;
  padding: 0px;
  font-family: Roboto,Helvetica,sans-serif;
}

.runes ul:after {
  content: " ";
  clear: both;
  display: block;
}

.runes ul li {
    display: block;
    margin-bottom: 20px;
    padding-right: 10px;
    width: 48%;
    float:left;
}

.tile img, .runes ul li img {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 0 3px #333 outset;

    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.runes ul li img {
    float: left;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.runes ul li div {
    display: block;
    vertical-align: top;
    margin-left: 60px;
    margin-right: 10px;
}
