    </main>
    <footer>
        <ul>
            <li>{{ .Site.Copyright | markdownify }} | NPC Portraits By <a href="https://www.instagram.com/annik.arts/"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i>&nbsp;@annik.arts</a></li>
            <li><a href="{{.Site.BaseURL}}index.xml"><i class='fa fa-rss fa-lg' aria-hidden="true"></i></a></li>
            {{ if .Site.Author.twitter }}
            <li><a href="https://twitter.com/{{ .Site.Author.twitter }}"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a></li>
            {{ end }} {{ if .Site.Author.mastodon }}
            <li><a href="{{ .Site.Author.mastodon }}" rel="me" ><i class="fab fa-mastodon fa-lg" aria-hidden="true"></i></a></li>
            {{ end }} {{ if .Site.Author.github }}
            <li><a href="https://github.com/{{ .Site.Author.github }}"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
            {{ end }}
            <li><a href="https://creativecommons.org/licenses/by-nc/3.0/"><i class="fab fa-creative-commons fa-lg" aria-hidden="true"></i></a></li>
        </ul>
    </footer>
</div>
<script src="{{ "js/scripts.js" | relURL }}"></script>
</body>

</html>
