<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  <title>{{ .Site.Title }}</title>
  {{ partial "meta" . }}
  {{ partial "header_includes" . -}}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <div id='background'></div>
    <div id="container" class='{{if (eq .Params.layout "wide") }}wide{{else}}standard{{end}}'>
    <header>
        <div class='content'>
            <h1><a href="{{ relURL "/" }}">{{ .Site.Title | markdownify }}</a></h1>
            {{ .Site.Params.tagline | markdownify }}
        </div>
    </header>
   {{ partial "nav" . }}
    <main>
