{{ define "main" }}

      <section id="home">
        <ul>
          {{ range $index, $page := first 10 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}

          {{ if eq $index 0 }}
          <li class='first'>
            <article>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1> 
                {{ partial "aside" . }}
                <div class='description'>{{ safeHTML .Params.description }}</div>
                <div class="{{ if eq .Params.dropcase false}}{{else}}dropcase{{ end }}">
                {{.Content}}
                </div>
            </article>
          </li>

          <li class='older'><h3><a href="/posts/">Recent Posts</a></h3></li>

          {{ else }}

          <li class='list'>
            <h4><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h4>
          </li>

          {{ end }}

          {{ end }}
        </ul>
      </section>

{{ end }}
